/*
  This file, as specified by the first line, compiles to ../styles.styl.css, to be used in index.js
  command to continuously compile:
      stylus -w styles.styl -o ../styles.styl.css
*/
.flash {
  animation: 0.9s textflash 1;
}
.buttonalert {
  animation: 0.4s tempgrow 2;
}
.darkflash {
  animation: 0.3s darkflash 2;
}
.cheat-word {
  animation: 1.5s shrinkgrow;
}
.wiggle {
  animation: 0.2s wiggle;
}
.textpulse {
  animation: 1s textflash infinite;
}
@-moz-keyframes textflash {
  0% {
    color: auto;
    letter-spacing: normal;
  }
  40% {
    color: #fff;
    letter-spacing: 0.4em;
  }
  60% {
    color: #fff;
    letter-spacing: 0.4em;
    opacity: 1;
  }
  75% {
    color: auto;
    letter-spacing: normal;
    opacity: 0.1;
  }
  89% {
    color: #fff;
    letter-spacing: 0.4em;
  }
  100% {
    color: auto;
    letter-spacing: normal;
    opacity: 1;
  }
}
@-webkit-keyframes textflash {
  0% {
    color: auto;
    letter-spacing: normal;
  }
  40% {
    color: #fff;
    letter-spacing: 0.4em;
  }
  60% {
    color: #fff;
    letter-spacing: 0.4em;
    opacity: 1;
  }
  75% {
    color: auto;
    letter-spacing: normal;
    opacity: 0.1;
  }
  89% {
    color: #fff;
    letter-spacing: 0.4em;
  }
  100% {
    color: auto;
    letter-spacing: normal;
    opacity: 1;
  }
}
@-o-keyframes textflash {
  0% {
    color: auto;
    letter-spacing: normal;
  }
  40% {
    color: #fff;
    letter-spacing: 0.4em;
  }
  60% {
    color: #fff;
    letter-spacing: 0.4em;
    opacity: 1;
  }
  75% {
    color: auto;
    letter-spacing: normal;
    opacity: 0.1;
  }
  89% {
    color: #fff;
    letter-spacing: 0.4em;
  }
  100% {
    color: auto;
    letter-spacing: normal;
    opacity: 1;
  }
}
@keyframes textflash {
  0% {
    color: auto;
    letter-spacing: normal;
  }
  40% {
    color: #fff;
    letter-spacing: 0.4em;
  }
  60% {
    color: #fff;
    letter-spacing: 0.4em;
    opacity: 1;
  }
  75% {
    color: auto;
    letter-spacing: normal;
    opacity: 0.1;
  }
  89% {
    color: #fff;
    letter-spacing: 0.4em;
  }
  100% {
    color: auto;
    letter-spacing: normal;
    opacity: 1;
  }
}
@-moz-keyframes darkflash {
  50% {
    color: #000;
    opacity: 0.1;
  }
  100% {
    color: auto;
    opacity: 1;
  }
}
@-webkit-keyframes darkflash {
  50% {
    color: #000;
    opacity: 0.1;
  }
  100% {
    color: auto;
    opacity: 1;
  }
}
@-o-keyframes darkflash {
  50% {
    color: #000;
    opacity: 0.1;
  }
  100% {
    color: auto;
    opacity: 1;
  }
}
@keyframes darkflash {
  50% {
    color: #000;
    opacity: 0.1;
  }
  100% {
    color: auto;
    opacity: 1;
  }
}
@-moz-keyframes wiggle {
  from {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@-webkit-keyframes wiggle {
  from {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@-o-keyframes wiggle {
  from {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes wiggle {
  from {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@-moz-keyframes shrinkgrow {
  0% {
    transform: scale(0.1);
    text-shadow: 0px 0px 2px #a9a9a9;
  }
  10% {
    transform: scale(3);
    text-shadow: 0px 0px 10px #000;
  }
  90% {
    transform: scale(3);
  }
  100% {
    transform: scale(0.1);
    text-shadow: 0px 0px 0px #a9a9a9;
  }
}
@-webkit-keyframes shrinkgrow {
  0% {
    transform: scale(0.1);
    text-shadow: 0px 0px 2px #a9a9a9;
  }
  10% {
    transform: scale(3);
    text-shadow: 0px 0px 10px #000;
  }
  90% {
    transform: scale(3);
  }
  100% {
    transform: scale(0.1);
    text-shadow: 0px 0px 0px #a9a9a9;
  }
}
@-o-keyframes shrinkgrow {
  0% {
    transform: scale(0.1);
    text-shadow: 0px 0px 2px #a9a9a9;
  }
  10% {
    transform: scale(3);
    text-shadow: 0px 0px 10px #000;
  }
  90% {
    transform: scale(3);
  }
  100% {
    transform: scale(0.1);
    text-shadow: 0px 0px 0px #a9a9a9;
  }
}
@keyframes shrinkgrow {
  0% {
    transform: scale(0.1);
    text-shadow: 0px 0px 2px #a9a9a9;
  }
  10% {
    transform: scale(3);
    text-shadow: 0px 0px 10px #000;
  }
  90% {
    transform: scale(3);
  }
  100% {
    transform: scale(0.1);
    text-shadow: 0px 0px 0px #a9a9a9;
  }
}
@-moz-keyframes fadein {
  0% {
    color: #000;
    opacity: 0;
    text-shadow: 0px 4px #808080;
  }
  100% {
    color: #fff;
    opacity: 1;
    text-shadow: none;
  }
}
@-webkit-keyframes fadein {
  0% {
    color: #000;
    opacity: 0;
    text-shadow: 0px 4px #808080;
  }
  100% {
    color: #fff;
    opacity: 1;
    text-shadow: none;
  }
}
@-o-keyframes fadein {
  0% {
    color: #000;
    opacity: 0;
    text-shadow: 0px 4px #808080;
  }
  100% {
    color: #fff;
    opacity: 1;
    text-shadow: none;
  }
}
@keyframes fadein {
  0% {
    color: #000;
    opacity: 0;
    text-shadow: 0px 4px #808080;
  }
  100% {
    color: #fff;
    opacity: 1;
    text-shadow: none;
  }
}
@-moz-keyframes tempgrow {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes tempgrow {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
@-o-keyframes tempgrow {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes tempgrow {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
html {
  font-family: sans-serif;
  user-select: none;
  cursor: default;
}
html,
#layout,
header,
h1,
body {
  margin: 0px;
  padding: 0px;
}
html {
  background: url("https://previews.123rf.com/images/hakkiarslan/hakkiarslan1601/hakkiarslan160100040/51690968-Colorful-wall-painting-art-inspirational-background-image--Stock-Photo.jpg") no-repeat center center fixed;
  background-size: cover;
}
html,
body,
#root,
#layout {
  height: 100%;
  width: 100%;
  margin: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}
#root {
  opacity: 0.9;
  overflow: hidden;
}
@media screen and (min-width: 550px) {
  #root {
    margin-top: 4em;
  }
}
#layout {
  display: grid;
  text-align: center;
  max-width: 50em;
  margin: 0 auto 0 auto;
}
@media screen and (max-width: 550px) {
  #layout {
    grid-template-areas: "header" "mainstuff" "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}
@media screen and (min-width: 550px) {
  #layout {
    grid-template-areas: "header" "mainstuff" "footer" "space";
    grid-template-columns: 1fr;
    grid-template-rows: 6em auto 4em auto;
  }
}
header {
  grid-area: header;
  padding: 1em 0 0 0;
  color: #fff;
  background: #a1552e;
  display: flex;
  align-items: center;
  justify-content: center;
}
h1 {
  font-weight: normal;
  font-family: cursive;
}
sup {
  font-size: 0.7em;
  font-style: italic;
}
#maincontent {
  grid-area: mainstuff;
  display: grid;
  text-align: center;
  color: #000;
  background-color: #93badc;
}
@media screen and (max-width: 550px) {
  #maincontent {
    grid-template-areas: "points points" "quotebox quotebox" "input input" "newbutton cheatbutton";
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 1em;
    padding: 1em 6%;
  }
}
@media screen and (min-width: 550px) {
  #maincontent {
    grid-template-areas: "points points points" "quotebox quotebox quotebox" "newbutton input cheatbutton";
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 0 2.5em;
    padding: 1em 15%;
  }
}
#points {
  grid-area: points;
  align-self: end;
  color: #c80000;
  margin: 0 0 1em 0;
}
.magicword {
  padding: 0 0.1em;
  font-size: 1.2em;
  transition: 0.2s;
}
.magicword.highlighted.synonym:hover {
  background-color: rgba(200,0,0,0.7);
  color: #fff;
}
.magicword.highlighted.rhyme:hover {
  background-color: rgba(0,100,250,0.7);
  color: #fff;
}
.magicword.highlighted {
  cursor: pointer;
}
.magicword.highlighted.synonym {
  color: rgba(200,0,0,0.7);
}
.magicword.highlighted.rhyme {
  color: rgba(0,100,250,0.7);
}
blockquote {
  padding: 1.8em;
  grid-area: quotebox;
  align-self: center;
  text-align: left;
  line-height: 2em;
  background: #fff;
  border-left: 10px solid rgba(150,0,0,0.7);
  quotes: "\201C" "\201D" "\2018" "\2019";
}
@media screen and (max-width: 550px) {
  blockquote {
    margin: 0 0 1em 0;
  }
}
@media screen and (min-width: 550px) {
  blockquote {
    margin: 0 0 1.5em 0;
  }
}
blockquote:before {
  color: #93badc;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote::before {
  content: open-quote;
}
blockquote small {
  font-style: italic;
  color: #93badc;
}
#author {
  display: inline-block;
}
blockquote span {
  display: inline-block;
}
h3 {
  padding: 1em;
  font-weight: lighter;
  max-width: 100%;
}
h3::selection {
  background-color: rgba(150,0,0,0.7);
  transition: 0.2s;
}
input {
  color: #000;
  box-shadow: 0 0 4px #000;
  text-align: center;
  border: 4px solid rgba(200,0,0,0.7);
  background-color: #fff;
  height: 3em;
  transition: 0.2s;
}
button {
  color: #fff;
  height: 3em;
  width: 100%;
  border: none;
  background: rgba(200,0,0,0.7);
  box-shadow: 0 0 4px #000;
  transition: 0.2s;
}
button:hover {
  background-color: rgba(200,0,0,0.7);
  box-shadow: 0 0 8px 0 #000;
  cursor: pointer;
}
button:active {
  background-color: rgba(255,0,0,0.7);
}
#newbutton {
  grid-area: newbutton;
  justify-self: left;
}
#cheatbutton {
  grid-area: cheatbutton;
  justify-self: right;
}
#infield {
  grid-area: input;
}
*:focus {
  outline: none;
}
.crosshair {
  cursor: crosshair !important;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: footer;
  color: #fff;
  background: #a1552e;
}
footer p {
  font-size: 0.8em;
  font-family: cursive;
  opacity: 0.5;
}
