html, body, header, h1 {
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
}

html {
  height: 100%;
}

header {
  color: white;
  background: rgba(100,100,100,.7);
  height: 20%;
  line-height: 10em;
}

h1 {
  height: 100%;
  font-weight: normal;
}

body {
  height: 100%;
  text-align: center;
  background: url("https://s-media-cache-ak0.pinimg.com/originals/ff/86/13/ff8613e0866bf37dacbb255cd9509b26.jpg") no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  max-width: 100%;
}

#root {
  display: inline-block;
  text-align: center;
}

#bod {
  text-align: center;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 65%;
  width: 100%;
  padding: 2em;
  color: white;
  background-color: rgba(0,0,0,.7);
  width: 40em;
}

h3 {
  padding: 1em;
  font-weight: lighter;
  max-width: 100%;
}

h3::selection {
  background-color: rgba(150,0,0,.7);
  transition: .3s;
}

input {
  color: rgb(100,0,0);
  background-color: rgba(255,255,255,.7);
  text-align: center;
  border: 4px dotted white;

  border-radius: 2em;
  height: 2em;
  transition: .6s;
}

input:focus {
  box-shadow: 0 0 6px 4px gray;
}

input:hover {
  box-shadow: 0 0 6px 6px gray;
}

button {
  margin-top: 2em;
  height: 3em;
  width: 3em;
  border-radius: 2em;
  border: 4px dotted darkgray;
  background: lightgray;
  transition: .6s;
  box-shadow: inset 0 0 4px black;
}

button:hover {
  background-color: rgba(200,0,0,.7);
  border: 5px dotted white;
  box-shadow: inset 0 0 4px black;
}

button:active {
  background-color: rgba(255,0,0,.7);
  border: 1em dotted white;
  transition: .3s;
}

*:focus {
    outline: none;
}

footer {
  background: rgba(100,100,100,.5);
  padding: 2em;
  line-height: 1.5em;
}

footer a {
  margin: 0px;
  color: gray;
  text-decoration: none;
}

footer a:hover {
  margin: 0px;
  color: white;
  transition: .6s;
}
