/*
  Implementations
*/

//.fadeout
//  opacity: 0
.fadein
  animation: .2s fadein
.flash
  animation: 1s blink 1
.buttonalert
  animation: .4s tempgrow 2
.darkflash
  animation: .3s darkflash 2
.cheat-word
  animation: 1.5s shrinkgrow
.wiggle
  animation: .2s wiggle
.textpulse
  animation: 1s textflash infinite

/*
  Animation configurations
*/

@keyframes fadein
      from
        opacity: 0
      to
      opacity: 1

@keyframes bounce
      0%
        transform: translateY(0)
      25%
        transform: translateY(.5em)
      75%
        transform: translateY(-.5em)
      100%
        transform: translateY(0)

@keyframes growflash
      0%
        color: auto
        transform: scale(1)
      40%
        color: white
        transform: scale(1.5)
      60%
        color: white
        transform: scale(1.5)
      75%
        color: auto
        transform: scale(1)
      89%
        color: white
        transform: scale(1.5)
      100%
        color: auto
        transform: scale(1)

@keyframes textflash
      0%
        color: auto
        letter-spacing: normal
      40%
        color: white
        letter-spacing: .4em
      60%
        color: white
        letter-spacing: .4em
        opacity: 1
      75%
        color: auto
        letter-spacing: normal
        opacity: .1
      89%
        color: white
        letter-spacing: .4em
      100%
        color: auto
        letter-spacing: normal
        opacity: 1

  @keyframes blink
        0%
          color: auto
          text-shadow: 1px 1px 6px white
        40%
          color: white
        60%
          color: white
          opacity: 1
          text-shadow: 1px 1px 6px black
        75%
          color: auto
          opacity: .1
          text-shadow: 1px 1px 6px white
        89%
          color: white
          text-shadow: 1px 1px 6px black
        100%
          color: auto
          opacity: 1
          text-shadow: 1px 1px 6px white

@keyframes darkflash
      50%
        color: black
        opacity: .1
      100%
        color: auto
        opacity: 1

@keyframes wiggle
      from
        transform: rotate(-360deg)
      to
        transform: rotate(0deg)

@keyframes shrinkgrow
      0%
        transform: scale(.1)
        text-shadow: 0px 0px 2px darkgray
      10%
        color: white
        transform: scale(3)
        text-shadow: 0px 0px 10px black
      90%
        color: white
        transform: scale(3)
      100%
        color: auto
        transform: scale(.1)
        text-shadow: 0px 0px 0px darkgray

@keyframes shamanfadein
      0%
        color: black
        opacity:0
        text-shadow: 0px 4px gray
      100%
        color: white
        opacity:1
        text-shadow: none

@keyframes tempgrow
      0%
        transform: scale(1)
      50%
        transform: scale(1.5)
      100%
        transform: scale(1)
