@import url("https://fonts.googleapis.com/css?family=Special+Elite|Roboto+Mono|Hind")

$desktop = " screen and (min-width: 960px)"
$tablet = " screen and (min-width: 550px) and (max-width: 960px)"
$mobile = " screen and (max-width: 550px)"
$tabletUp = " screen and (min-width: 550px)"
$tabletDown = " screen and (max-width: 960px)"

$marginForMobileKeyboard = 1rem

$c-antonym    = rgba(200,160,0,.7)
$c-rhyme      = rgba(0,100,250,.7)
$c-synonym    = rgba(200,0,0,.7)

font-headers()
  font-family: "Special Elite", cursive
font-quote()
  font-family: "Hind", sans-serif
  font-size: 1.2em
font-points()
  font-family: "Roboto Mono", sans-serif
  font-size: 1.8em
  color: white
  text-shadow: 1px 1px 4px black
