/*
  This file compiles to ../styles.css, to be used in index.js
  Autocompile with npm start
      uses: stylus -w styles.styl -o ../styles.css
*/

@require "animations"
@require "library"
@import url("https://fonts.googleapis.com/css?family=Kalam|Finger+Paint")


html
  background: url("../brickwall.jpg") no-repeat center center fixed
  background-size: cover
  font-family: sans-serif
  user-select: none
  cursor: default
  transition: .1s

html, body, #root
  height: 100%

body
  background: rgba(100,200,255,.2)

#root
  display: flex
  align-items: center
  justify-content: center

#layout
  opacity: .9
  display: grid
  text-align: center
  transition: .1s
  @media $mobile
    height: 100%
    width: 100%
    grid-template-areas: "header" "mainstuff" "footer"
    grid-template-columns: 1fr
    grid-template-rows: auto
    &.keyboard-open
      grid-template-rows: 0 auto 0
  @media $tabletUp
    grid-template-areas: "header" "mainstuff" "footer" "space"
    grid-template-columns: 1fr
    grid-template-rows: 6em auto 4em auto
    margin-bottom: 3em
    max-width: 90%
    width: 50em

header, footer
  font-family: 'Kalam', cursive
  display: flex
  justify-content: center
  align-items: center
  color: white
  transition: .1s
  overflow: hidden
  @media $mobile
    background: rgba(200,0,0,.6)
    .keyboard-open &
      height: 0
      opacity: 0
  @media $tabletUp
    background: linear-gradient(to right, rgba(150,0,0,.9), rgba(200,0,0,.6), rgba(200,0,0,.6), rgba(150,0,0,.9))

header
  grid-area: header
  padding: 1em 0 0 0
  font-size: 1.3em

h1
  font-weight: normal
  font-size: 1.5em

sup
  font-size : .7em
  font-style: italic

#maincontent
  grid-area: mainstuff
  display: grid
  text-align: center
  color: black
  @media $mobile
    grid-template-areas: "quotebox quotebox quotebox" "newbutton points cheatbutton" "input input input"
    grid-template-rows: auto
    grid-template-columns: 1fr 1fr 1fr
    grid-gap: 1em 1em
    .keyboard-open &
      padding: 0
      grid-gap: 1em 0
  @media $tabletUp
    grid-template-areas: "points points points" "quotebox quotebox quotebox" "newbutton input cheatbutton"
    grid-template-rows: 4em auto 4em
    grid-template-columns: 1fr 2fr 1fr
    grid-gap: 0 5%
    background: linear-gradient(to right, rgba(255,255,255,.4), rgba(255,255,255,0), rgba(255,255,255,0), rgba(255,255,255,.4))
    padding: 1em 15% 2em 15%

#points
  grid-area: points
  font-family: 'Finger Paint', cursive;
  color: rgb(0,0,10)
  text-shadow: 1px 1px 6px white
  @media $mobile
    align-self: center
    margin: 0
    font-size: 1.3em
    font-weight: bold
  @media $tabletUp
    align-self: center
    font-size: 1.4em

.magicword
  padding: 0 .1em
  font-size: 1.2em
  transition: .2s
  transition: .3s

.magicword.highlighted:hover
  color: white

.magicword.highlighted.synonym:hover
  background-color: $c-synonym

.magicword.highlighted.rhyme:hover
  background-color: $c-rhyme

.magicword.highlighted.antonym:hover
  background-color: $c-antonym

.magicword.highlighted
  cursor: pointer

.magicword.highlighted.synonym
  color: $c-synonym

.magicword.highlighted.rhyme
  color: $c-rhyme

.magicword.highlighted.antonym
  color: $c-antonym

blockquote
  display: grid
  align-items: center
  padding: 1.8em
  grid-area: quotebox
  align-self: center
  text-align: left
  line-height: 2em
  min-height: 5em
  background: white
  border-left: 10px solid rgba(150,0,0,.7)
  border-right: 0 solid rgba(150,0,0,.7)
  quotes: "\201C""\201D""\2018""\2019"
  transition: .2s
  padding: .5em
  font-family: 'Kalam', cursive
  font-size: 1.2em
  @media $mobile
    margin: 0 1em
    opacity: 1
    overflow-y: scroll
    min-height: 25vh
    max-height: 50vh
    .keyboard-open &
      align-self: start
      margin: 0
      border-left: .3em solid rgb(200,0,0)
      border-right: .3em solid rgb(200,0,0)
      padding: .4em .5em
      height: 45vh
  @media $tabletUp
    margin: 0 0 1.5em 0

.quotationmark
  transform: translateY(.3em);
  color: #93BADC
  font-size: 1.5em
  transition: .1s
  @media $mobile
    font-size: 2em

blockquote small
  font-style: italic
  color: #93BADC

#author
  display: block
  font-size: .8em

blockquote span
  display: inline-block

h3
  padding: 1em
  font-weight: lighter
  max-width: 100%

h3::selection
  background-color: rgba(150,0,0,.7)
  transition: .2s

input
  box-sizing: border-box
  color: black
  box-shadow: 0 0 4px black
  text-align: center
  border: 4px solid rgba(200,0,0,.7)
  background-color: white
  transition: .2s
  padding: 0
  @media $mobile
    margin: 0 1em
    font-size: 1em
    height: 4em
    .keyboard-open &
      margin: 0
      align-self: end
      height: 2.5em
  @media $tabletUp
    margin: 1em
    font-size: .8em

button
  color: white
  height: 3em
  width: 100%
  border: none
  font-family: 'Kalam', cursive;
  font-size: 1.2em
  box-shadow: 0 0 4px black
  transition: .2s
  padding: 0
  align-self: center
  background: rgba(200,0,0,.9)
  @media $mobile
    .keyboard-open &
      width: 90%
      font-size: 1em
      height: 2.5em
  @media $tabletUp
    min-width: 5em

button:hover
  background-color: rgba(200,0,0,.7)
  box-shadow: 0 0 8px 0 black
  cursor: pointer

button:active
  background-color: rgba(255,0,0,.7)

#newbutton
  grid-area: newbutton
  justify-self: left

#cheatbutton
  grid-area: cheatbutton
  justify-self: right

#infield
  grid-area: input

.crosshair
  cursor: crosshair !important

footer
  grid-area: footer

footer p
  font-size: .8em
  opacity: .8
  @media $mobile
    font-size: .9em
